<Border x:Name="Keyboard"
			Height="270"
			Width="800"
			Grid.Row="2"
			Grid.ColumnSpan="3">

            <Grid>
                <Grid.RowDefinitions>
                    <RowDefinition Height="1*"/>
                    <RowDefinition Height="1*"/>
                    <RowDefinition Height="1*"/>
                    <RowDefinition Height="1*"/>
                    <RowDefinition Height="1*"/>
                </Grid.RowDefinitions>

                <StackPanel Grid.Row="0"
                    Width="800"
                    Orientation="Horizontal">

                    <Label Content="`" Style="{StaticResource LeftPinkyKey}"/>
                    <Label Content="1" Style="{StaticResource LeftPinkyKey}"/>
                    <Label Content="2" Style="{StaticResource LeftPinkyKey}"/>
                    <Label Content="3" Style="{StaticResource LeftRingKey}"/>
                    <Label Content="4" Style="{StaticResource LeftMiddleKey}"/>
                    <Label Content="5" Style="{StaticResource LeftPointerKey}"/>
                    <Label Content="6" Style="{StaticResource LeftPointerKey}"/>
                    <Label Content="7" Style="{StaticResource RightPointerKey}"/>
                    <Label Content="8" Style="{StaticResource RightPointerKey}"/>
                    <Label Content="9" Style="{StaticResource RightMiddleKey}"/>
                    <Label Content="0" Style="{StaticResource RightRingKey}"/>
                    <Label Content="-" Style="{StaticResource RightPinkyKey}"/>
                    <Label Content="=" Style="{StaticResource RightPinkyKey}"/>
                    <Label Content="←" Style="{StaticResource Backspace}"/>
                </StackPanel>

                <StackPanel Grid.Row="1"
                    Width="800"
                    Orientation="Horizontal">

                    <Label Content="TAB" Style="{StaticResource Tab}"/>
                    <Label Tag="Q" Style="{StaticResource LeftPinkyKey}"/>
                    <Label Content="W" Style="{StaticResource LeftRingKey}"/>
                    <Label Content="E" Style="{StaticResource LeftMiddleKey}"/>
                    <Label Content="R" Style="{StaticResource LeftPointerKey}"/>
                    <Label Content="T" Style="{StaticResource LeftPointerKey}"/>
                    <Label Content="Y" Style="{StaticResource RightPointerKey}"/>
                    <Label Content="U" Style="{StaticResource RightPointerKey}"/>
                    <Label Content="I" Style="{StaticResource RightMiddleKey}"/>
                    <Label Content="O" Style="{StaticResource RightRingKey}"/>
                    <Label Content="P" Style="{StaticResource RightPinkyKey}"/>
                    <Label Style="{StaticResource RightPinkyKey}">{</Label>
                    <Label Style="{StaticResource RightPinkyKey}">}</Label>
                    <Label Content="\" Style="{StaticResource RightPinkyKey}"/>
                </StackPanel>

                <StackPanel Grid.Row="2"
                    Width="800"
                    Orientation="Horizontal">

                    <Label Content="CAPS" Style="{StaticResource Caps}"/>
                    <Label Content="A" Style="{StaticResource LeftPinkyKey}"/>
                    <Label Content="S" Style="{StaticResource LeftRingKey}"/>
                    <Label Content="D" Style="{StaticResource LeftMiddleKey}"/>
                    <Label Content="F" Style="{StaticResource LeftPointerKey}"/>
                    <Label Content="G" Style="{StaticResource LeftPointerKey}"/>
                    <Label Content="H" Style="{StaticResource RightPointerKey}"/>
                    <Label Content="J" Style="{StaticResource RightPointerKey}"/>
                    <Label Content="K" Style="{StaticResource RightMiddleKey}"/>
                    <Label Content="L" Style="{StaticResource RightRingKey}"/>
                    <Label Content=";" Style="{StaticResource RightPinkyKey}"/>
                    <Label Content="'" Style="{StaticResource RightPinkyKey}"/>
                    <Label Content="ENTER" Style="{StaticResource Enter}"/>
                </StackPanel>

                <StackPanel Grid.Row="3"
                    Width="800"
                    Orientation="Horizontal">

                    <Label Content="SHIFT" Style="{StaticResource LeftShift}"/>
                    <Label Content="Z" Style="{StaticResource LeftPinkyKey}"/>
                    <Label Content="X" Style="{StaticResource LeftRingKey}"/>
                    <Label Content="C" Style="{StaticResource LeftMiddleKey}"/>
                    <Label Content="V" Style="{StaticResource LeftPointerKey}"/>
                    <Label Content="B" Style="{StaticResource LeftPointerKey}"/>
                    <Label Content="N" Style="{StaticResource RightPointerKey}"/>
                    <Label Content="M" Style="{StaticResource RightPointerKey}"/>
                    <Label Content="," Style="{StaticResource RightMiddleKey}"/>
                    <Label Content="." Style="{StaticResource RightRingKey}"/>
                    <Label Content="/" Style="{StaticResource RightPinkyKey}"/>
                    <Label Content="SHIFT" Style="{StaticResource RightShift}"/>
                </StackPanel>

                <StackPanel Grid.Row="4"
                    Width="800"
                    Orientation="Horizontal">

                    <Label Content="CTRL" Style="{StaticResource Empty}"/>
                    <Label Style="{StaticResource Empty}">
                        <Image Source="/Images/windows.png" Margin="7"/>
                    </Label>
                    <Label Content="ALT" Style="{StaticResource Empty}"/>
                    <Label Content="SPACE" Style="{StaticResource Space}"/>
                    <Label Content="ALT" Style="{StaticResource Empty}"/>
                    <Label Style="{StaticResource Empty}">
                        <Image Source="/Images/menu.png" Margin="7"/>
                    </Label>
                    <Label Content="FN" Style="{StaticResource Empty}"/>
                    <Label Content="CTRL" Style="{StaticResource Empty}"/>
                </StackPanel>
            </Grid>
        </Border>